article ul {
    list-style-type: disc !important;
    padding-left: 1.5rem !important;
    margin-bottom: 1rem;
  }

  article ol {
    list-style-type: decimal !important;
    padding-left: 1.5rem !important;
    margin-bottom: 1rem;
  }

  article ul li,
  article ol li {
    margin-bottom: 0.5rem;
  }