---
import Layout from '../layouts/Layout.astro';
import Industries from '../components/Industries.astro';
---

<Layout>
<div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="img/slider/04.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center caption mt-90">
          <h5 class="animate-box" data-animate-effect="fadeInUp">
            <a href="/">Home</a> / Industries Served
          </h5>
          <h1 class="animate-box" data-animate-effect="fadeInUp">Industries Served</h1>
          <hr class="animate-box" data-animate-effect="fadeInUp">
          <p class="animate-box" data-animate-effect="fadeInUp">
            Bridging Financial Strategy and Business Success Across Industries
          </p>
        </div>
      </div>
    </div>
  </div>

  <Industries/>
</Layout>