---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<!-- Header Banner -->
	<div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="img/slider/04.jpg">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left caption mt-90">
					<h5 class="animate-box" data-animate-effect="fadeInUp"><a href="/">Home</a> / Article Title</h5>
					<h1 class="animate-box" data-animate-effect="fadeInUp">Nedana agency in the viventa</h1>
					<hr class="animate-box" data-animate-effect="fadeInUp">
					<p class="animate-box" data-animate-effect="fadeInUp">Grab a cuppa, a doughnut and get comfy to read our latest news & trends...</p>
				</div>
			</div>
		</div>
	</div>
	<!-- hr -->
	<hr class="line-vr-section animate-box" data-animate-effect="fadeInUp">
	<!-- Post -->
	<div class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="mb-30">Quisque pretium fermentum quam, sit amet cursus ante sollicitudin vel. Morbi consequat risus consequat, porttitor orci sit amet, iaculis nisl. Integer quis sapien nec elit ultrices euismod sit amet id lacus. Sed a imperdiet erat. Duis eu est dignissim lacus dictum hendrerit quis vitae mi. Fusce eu nulla ac nisi cursus tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer tristique sem eget leo faucibus porttitor.</p>
					<img src="img/slider/03.jpg" class="mb-30" alt="">
					<p>Nulla vitae metus tincidunt, varius nunc quis, porta nulla. Pellentesque vel dui nec libero auctor pretium id sed arcu. Nunc consequat diam id nisl blandit dignissim. Etiam commodo diam dolor, at scelerisque sem finibus sit amet. Curabitur id lectus eget purus finibus laoreet. Nam eget lectus ac sem luctus hendrerit sed nec magna. Maecenas vulputate magna sed nunc pellentesque, in consectetur nisi condimentum.</p>
				</div>
			</div>
			<div class="nopixel-comment-section">
				<div class="row">
					<!-- Comment -->
					<div class="col-md-7">
						<div class="nopixel-post-comment-wrap">
							<div class="nopixel-user-comment"> <img src="img/team/1.jpg" alt=""> </div>
							<div class="nopixel-user-content">
								<h6>Robert Misse<span> 29 October 2025</span></h6>
								<p>Photography ultricies nibh non dolor maximus scee the inte molliser faubs neque nec tincidunte aliquam erat volutpat. Praeser tem malade. </p> <a class="nopixel-repay" href="#">Reply<i class="ti-back-left"></i></a>
							</div>
						</div>
					</div>
					<!-- Contact Form -->
					<div class="col-md-4 offset-md-1">
						<h6>Leave a Reply</h6>
						<form method="post" class="contact__form" action="https://duruthemes.com/demo/html/nopixel/multipage-light/mail.php">
                            <!-- Form message -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                        Your message was sent successfully.
                                    </div>
                                </div>
                            </div>
                            <!-- Form elements -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input name="name" type="text" placeholder="Full Name *" required> 
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="email" type="email" placeholder="Email Address *" required> 
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Your Comment *" required></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input name="submit" type="submit"  value="Send Comment">
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Prev-Next Post -->
	<div class="nopixel-post-prev-next">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="d-sm-flex align-items-center justify-content-between">
						<div class="nopixel-post-prev-next-left">
							<a href="/"> <i class="ti-arrow-left"></i> Previous Post</a>
						</div> <a href="#"><i class="ti-layout-grid3-alt"></i></a>
						<div class="nopixel-post-prev-next-right"> <a href="/">Next Post <i class="ti-arrow-right"></i></a> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

    
</Layout>