<div class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                <div class="section-subtitle">Welcome</div>
                <div class="section-title">About IFG
<!--<br><span>Corporate Accounting Firm</span>-->
                </div>
                <p>IFG Corporate Accounting Services is the premier accounting firm for all your accounting needs. </p>
                <p>We offer a complete range of services including day-to-day bookkeeping, cash flow budgeting analysis, financial forecast and projections,  management advisory, payroll services, business & personal taxes, financial software implementation.  </p>
                <p>
                    As a full-service firm, our expert staff of highly trained QuickBooks specialists will take control of all your accounting needs, thus allowing you to focus on running your day-to-day operation without any additional stress.
                </p>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
                <div class="about-img">
                    <div class="img"> <img src="img/about-1.webp" class="img-fluid" alt=""> </div>
                    <!--<div class="about-img-2 about-since">IFG
                        <br/>SINCE 2011
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>