<div class="contact section-padding bg-color">
		<div class="container">
			<div class="row mb-90">
				<div class="col-md-4 mb-30">
					<h5>NoPixel Digital Agency</h5>
					<p>Our firm nisl sodales sit amet sapien idea placeran sodales orcite. Vivamus ne miss rhoncus felis into NoPixel Digital Agency.</p>
					<p><b>VAT :</b> USA002323065B06</p>
				</div>
				<div class="col-md-4 mb-30">
					<h5>Contact Info</h5>
					<p>Phone : +1 203-123-0606</p>
					<p>eMail : info@nopixel.com</p>
					<p>Address : 24 King St, Charleston, 29401 USA</p>
				</div>
				<div class="col-md-4">
					<h5>Contact Form</h5>
					    <form method="post" class="contact__form" action="https://duruthemes.com/demo/html/nopixel/multipage-light/mail.php">
                            <!-- Form message -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                        Your message was sent successfully.
                                    </div>
                                </div>
                            </div>
                            <!-- Form elements -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input name="name" type="text" placeholder="Your Name *" required> 
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="email" type="email" placeholder="Your Email *" required> 
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="phone" type="text" placeholder="Your Number *" required> 
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="subject" type="text" placeholder="Subject *" required> 
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Message *" required></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input name="submit" type="submit"  value="Send Message">
                                </div>
                            </div>
                        </form>
				</div>
			</div>
			<!-- Map Section-->
<!--			<div class="row">
				<div class="col-md-12 mb-30 animate-box" data-animate-effect="fadeInUp">
					<div id="nopixel-contactMap"></div>
				</div>
			</div> -->
		</div>
	</div>