<footer class="main-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-30">
                <div class="item abot">
                    <div class="mb-20"> <img src="/img/logo-light.png" alt=""> </div>
                    <!-- <p>NoPixel viverra tristique justo in duis vitae diam neque niva.</p> -->
                    <!-- <div class="social-icon"> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter"></i></a> <a href="#"><i class="ti-instagram"></i></a> <a href="#"><i class="ti-pinterest"></i></a> </div> -->
                </div>
            </div>
            <div class="col-md-2 offset-md-1 mb-30">
                <div class="item usful-links">
                    <div class="fothead">
                        <h6>Quick Links</h6>
                    </div>
                    <ul>
                        <li><i class="ti-angle-right"></i> <a href="/">Home</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/services">Practice Areas</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/industries-served">Industries Served</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/articles">Articles</a></li>
                        <li><i class="ti-angle-right"></i> <a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>Get in touch</h6>
                    </div>
                    <p>212-882-1977</p>
                    <p>info@ifgaccounting.com</p>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>Location</h6>
                    </div>
                   
                    <p>626 RXR Plaza, 6th Floor, West Tower, Uniondale, NY 11556</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="text-left">
                        <p>© 2025 | All right reserved by IFG Corporate Accounting Services</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-right-left">
                        <p>Design and developed by <a href="https://uncoredigital.com/" target="_blank">Uncore Digital</a></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>