---
const currentPath = Astro.url.pathname;
const normalizedPath = currentPath.replace(/\/$/, "") || "/";
console.log("Current Path:", currentPath, "Normalized Path:", normalizedPath);
---

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- Logo -->
    <a class="logo" href="/">
      <img src="img/logo-light.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"><i class="ti-line-double"></i></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- Home -->
        <li class="nav-item">
          <a class={"nav-link " + (normalizedPath === "/" ? "active" : "")} href="/">Home</a>
        </li>
        <!-- Practice Areas Dropdown -->
        <li class="nav-item dropdown">
          <span class={"nav-link " + ((normalizedPath.includes("book-keeping") ||
                                        normalizedPath.includes("cfo-services") ||
                                        normalizedPath.includes("tax-services") ||
                                        normalizedPath.includes("payroll"))
                                        ? "active" : "")}>
            Practice Areas <i class="ti-angle-down"></i>
          </span>
          <ul class="dropdown-menu last">
            <li class="dropdown-item">
              <a class={" " + (normalizedPath === "/book-keeping" ? "active" : "")} href="/book-keeping">BookKeeping</a>
            </li>
            <li class="dropdown-item">
              <a class={" " + (normalizedPath === "/cfo-services" ? "active" : "")} href="/cfo-services">CFO Services</a>
            </li>
            <li class="dropdown-item">
              <a class={" " + (normalizedPath === "/tax-services" ? "active" : "")} href="/tax-services">Tax Services</a>
            </li>
            <li class="dropdown-item">
              <a class={" " + (normalizedPath === "/payroll" ? "active" : "")} href="/payroll">Payroll</a>
            </li>
          </ul>
        </li>
        <!-- Industries Served -->
        <li class="nav-item">
          <a class={"nav-link " + (normalizedPath === "/industries-served" ? "active" : "")} href="/industries-served">
            Industries Served
          </a>
        </li>
        <!-- Articles -->
        <li class="nav-item">
          <a class={"nav-link " + ((normalizedPath === "/articles" || normalizedPath.match(/^\/article\d+/)) ? "active" : "")} href="/articles">
            Articles
          </a>
        </li>
        <!-- Contact -->
        <li class="nav-item">
          <a class={"nav-link " + (normalizedPath === "/contact" ? "active" : "")} href="/contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
