<header class="header slider-fade">
    <div class="owl-carousel owl-theme">
        <!-- The opacity on the image is made with "data-overlay-dark="number".You can change it using the numbers 0-9. -->
        <div class="text-left item bg-img" data-overlay-dark="4" data-background="img/slider/07.png">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 mt-30">
                            <div class="o-hidden">
                                <h6>Welcome to IFG Corp</h6>
                                <h1>
                                    EXCEPTIONAL
                                    <span style="text-wrap: nowrap;">ACCOUNTING FIRM</span></h1> 
                                <a href="#0" class="btn-curve btn-borderyellow"><span>Our Services</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left item bg-img" data-overlay-dark="4" data-background="img/slider/06.png">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 mt-30">
                            <div class="o-hidden">
                                <h6>Welcome to IFG Agency</h6>
                                <h1>Grow Your<br><span>Business</span></h1> <a href="#0" class="btn-curve btn-borderyellow"><span>Portfolio</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="text-left item bg-img" data-overlay-dark="4" data-background="img/slider/03.jpg">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 mt-30">
                            <div class="o-hidden">
                                <h6>Welcome to NoPixel Agency</h6>
                                <h1>We Build<br><span>Relations</span></h1> <a href="#0" class="btn-curve btn-borderyellow"><span>About Us</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</header>