<style>
#o1.mt-30{
    margin-top:140px !important;
}
@media screen and (max-width: 767px) {
  h1  {
    font-size:30px !important;
  }
    h1 span {
    font-size:30px !important;
  }
}

.o-hidden h1 span{
    text-wrap: nowrap; 
    font-weight:700; -webkit-text-stroke: 3px #ffffff;
}

@media (max-width: 767px) {
  .o-hidden h1 span {
    -webkit-text-stroke: 1.5px #ffffff; /* Reduced stroke width for mobile */
  }
  .header .caption h6{
    font-size:14px;
    font-weight: 500;
}
}


</style>
<header class="header slider-fade">
    <div class="owl-theme owl-carousel">
        <!-- The opacity on the image is made with "data-overlay-dark="number".You can change it using the numbers 0-9. -->
        <div class="text-left item bg-img" data-overlay-dark="4" data-background="img/slider/06.webp">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 mt-30" id="o1">
                            <div class="o-hidden">
                                <h6 style="font-weight:600;">Where Financial Strategy Meets Execution</h6>
                                <h1>
                                    EXCEPTIONAL
                                    <span>ACCOUNTING FIRM</span></h1> 
                                <a href="/services" class="btn-curve btn-borderyellow"><span>Our Services</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>