<style>
#o1.mt-30{
    margin-top:170px !important;
}
@media screen and (max-width: 767px) {
  h1  {
    font-size:35px !important;
  }
    h1 span {
    font-size:35px !important;
  }
}
</style>
<header class="header slider-fade">
    <div class="owl-carousel owl-theme">
        <!-- The opacity on the image is made with "data-overlay-dark="number".You can change it using the numbers 0-9. -->
        <div class="text-left item bg-img" data-overlay-dark="4" data-background="img/slider/07.webp">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 mt-30" id="o1">
                            <div class="o-hidden">
                                <h6>Where Financial Strategy Meets Execution</h6>
                                <h1>
                                    EXCEPTIONAL
                                    <span style="text-wrap: nowrap;">ACCOUNTING</span><span>FIRM</span></h1> 
                                <a href="/services" class="btn-curve btn-borderyellow"><span>Our Services</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left item bg-img" data-overlay-dark="4" data-background="img/slider/06.webp">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 mt-30">
                            <div class="o-hidden">
                                <h6>Precision-Driven Accounting & CFO Solutions</h6>
                                <h1>Grow Your<br><span>Business</span></h1> <a href="/contact" class="btn-curve btn-borderyellow"><span>Book an Expert Appointment</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="text-left item bg-img" data-overlay-dark="4" data-background="img/slider/03.jpg">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 mt-30">
                            <div class="o-hidden">
                                <h6>Welcome to NoPixel Agency</h6>
                                <h1>We Build<br><span>Relations</span></h1> <a href="#0" class="btn-curve btn-borderyellow"><span>About Us</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</header>