
<div class="services section-padding bg-color">
    <div class="container">
        <div class="row">
            <div class="section-head mb-30 col-md-12">
                <div class="section-subtitle">What We Do</div>
                <div class="section-title">Practice Areas</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                <div class="item">
                    <a href="/book-keeping"> <span class="icon et-laptop"></span>
                        <h5>Book Keeping</h5>
                        <div class="line"></div>
                        <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami acestion auvue artin.</p>
                        <div class="numb">01</div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                <div class="item">
                    <a href="/cfo-services"> <span class="icon et-bargraph"></span>
                        <h5>CFO Services</h5>
                        <div class="line"></div>
                        <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami acestion auvue artin.</p>
                        <div class="numb">02</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                <div class="item">
                    <a href="/tax-services"> <span class="icon et-basket"></span>
                        <h5>Tax Services</h5>
                        <div class="line"></div>
                        <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami acestion auvue artin.</p>
                        <div class="numb">03</div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                <div class="item">
                    <a href="/payroll"> <span class="icon et-browser"></span>
                        <h5>Payroll</h5>
                        <div class="line"></div>
                        <p>Vivamus ravida surna eveti semeni conse convallis. Tristique busio the nivite dianne one nivami acestion auvue artin.</p>
                        <div class="numb">04</div>
                    </a>
                </div>
            </div>
        </div>
        </div>
        
</div>