<div class="team section-padding bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="section-subtitle">Thinkers</div>
                <div class="section-title">Creative Team</div>
                <p class="mb-45">We are extremely proud of our team of talented developers and digital marketers who are highly motivated to provide a professional and reliable service to all of our clients.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                <div class="item">
                    <div class="img"> <img src="img/team/1.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Enrico Brown</h6>
                        <p>Back-End Developer</p>
                        <div class="social valign">
                            <div class="full-width">
                                <p>PHP, WordPress, eCommerce</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img"> <img src="img/team/2.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Elisa White</h6>
                        <p>Graphic Designer</p>
                        <div class="social valign">
                            <div class="full-width">
                                <p>Photoshop, Illustrator, Sketch</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img"> <img src="img/team/3.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Martin Dan</h6>
                        <p>Front-End Developer</p>
                        <div class="social valign">
                            <div class="full-width">
                                <p>HTML, CSS, Javascript</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img"> <img src="img/team/4.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Jesica Duru</h6>
                        <p>Web Design</p>
                        <div class="social valign">
                            <div class="full-width">
                                <p>Photoshop, HTML, CSS</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img"> <img src="img/team/5.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Olivia Brown</h6>
                        <p>Social Media</p>
                        <div class="social valign">
                            <div class="full-width">
                                <p>Twitter, Writing, Presenting</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img"> <img src="img/team/6.jpg" alt=""> </div>
                    <div class="info">
                        <h6>Emile White</h6>
                        <p>I.T. Support Engineer</p>
                        <div class="social valign">
                            <div class="full-width">
                                <p>I.T. Support, Telecommunications</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>