<div class="about section-padding" id="vision">
    <div class="container">
      <div class="row">
        <div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
            <div class="about-img">
              <div class="img"><img src="img/vision.webp" class="img-fluid" alt=""></div>
              <div class="about-img-2 about-since">
                IFG<br>SINCE 2011
              </div>
            </div>
          </div>
        <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
          <div class="section-subtitle">OUR VISION</div>
          <div class="section-title">
            IFG Corporate Accounting Services
            <!--<br><span>Corporate Accounting Services</span>-->
          </div>
          <p>
            IFG Corporate Accounting Services was founded in 2011 for the sole purpose of assisting Small Businesses and Entrepreneurs in achieving their financial objectives by providing quality services in a professional, courteous and timely manner.
          </p>
          <p>
            Our high standards, quality service, and specialized team spell the difference between our outstanding performance and other firms. We make sure that every client is served by the expertise of our whole firm.
          </p>
        </div>
        
      </div>
    </div>
  </div>
  