---
import Header from '../components/Header.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>IFG Corp</title>
		<link rel="stylesheet" href="css/plugins.css" />
	<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<Header/>
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script is:inline src="js/jquery-3.5.1.min.js"></script>
	<script is:inline src="js/jquery-migrate-3.0.0.min.js"></script>
	<script is:inline src="js/modernizr-2.6.2.min.js"></script>
	<script is:inline src="js/popper.min.js"></script>
	<script is:inline src="js/bootstrap.min.js"></script>
	<script is:inline src="js/scrollIt.min.js"></script>
	<script is:inline src="js/jquery.waypoints.min.js"></script>
	<script is:inline src="js/owl.carousel.min.js"></script>
	<script is:inline src="js/jquery.stellar.min.js"></script>
	<script is:inline src="js/jquery.magnific-popup.js"></script>
	<script is:inline src="js/YouTubePopUp.js"></script>
	<script is:inline src="js/custom.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
